#see https://httpd.apache.org/docs/2.0/howto/auth.html

AuthType Basic
AuthName "Restricted Files"
AuthUserFile C:/Users/Nicolas/wamp64/www/projetSR2I203/passwords
Require user ndeconto

Options -indexes
