Options -indexes


#see https://httpd.apache.org/docs/2.0/howto/auth.html

AllowOverride AuthConfig

AuthType Basic
AuthName "Restricted Files"
AuthUserFile /usr/local/apache/passwd/passwords
Require user rbowen 